.header {
    display: flex;
    justify-content: space-between;
}

.categories-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    text-transform: capitalize;
}

.category-content:hover .categories-dropdown {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}