.header {
  display: flex;
  justify-content: space-between;
}

.categories-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  text-transform: capitalize;
}

.category-content:hover .categories-dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.fa.fa-shopping-cart {
  font-size: 32px;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.shopping-total {
  display: flex;
  justify-content: center;
  align-content: top;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 0.5vw;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 60vw;
  animation: modal-open 0.3s ease;
  justify-content: center;
}

/* .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
} */

/* .modal-header{
  grid-column: span 4;
  text-align: center;
}

.header-row {
  grid-row: 2;
  grid-column: 1 / span 4;
  justify-content: center;
  text-align: center;
}

.item-row {
  justify-content: center;
  text-align: center;
} */


.modal-header {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.item-table-header, .product-title, .item-table-footer {
  padding-left: 1vh;
  text-align: left;
}

td {
  padding: 1vh 2vw;
}

.modal-footer {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: space-around;
}

.close-button {
  font-size: 20px;
  cursor: pointer;
}

/* .footer-row {
  grid-column: 1 /span 4;
  grid-row: 4;
} */
/* 
.item-table-header,
.product-title {
  text-align: left;
}

.total-table-bottom {
  text-align: left;
} */

i.fa-trash-o {
  font-size: 28px;
  color: red;
  align-self: center;
}

@keyframes modal-open {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
