.center{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

.center > * {
    justify-self: center;
}

.center > h1 {
    margin-top: 15vh;
}

.dog {
    border-radius: 25px;
}