:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-main-dropdown {
  text-transform: capitalize;
}

.categories-selection {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.category-header {
  text-transform: capitalize;
}

.products-container{
  display: grid;
  gap: 10vh 5vw;
  grid-template-columns: auto auto;
}

.products-container>*{
  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2vh 2vw;
  border: solid aliceblue 2px;
}

.product-image {
  max-width: 25vw;
  max-height: 25vh;
  border-radius: 25px;
  border: solid aliceblue 1px;
}

li {
  list-style-type: none
}

.add-cart {
  border-radius: 25px;
  background-color:darkturquoise;
  font-size: 18px;
  padding: 6px;
  margin: 6px;
  color: black;
}

.add, .subtract, .quantity {
  border-radius: 25px;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 2px;
  margin-right: 2px;
}